Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
libtool
m4/
src/Makefile
src/Makefile.in
src/kata/.deps/
src/kata/Console.o
src/kata/Makefile
src/kata/Makefile.in
src/kata/kata
src/kata/kata.o
src/kata/test-suite.log
src/kata/test/.deps/
src/kata/test/.dirstamp
src/kata/test/AllTests.o
src/kata/test/Console_test.o
src/kata/test/test_kata
src/kata/test/test_kata.log
src/kata/test/test_kata.trs
